.profile__name {
    max-width: 350px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    /* or 114% */
    color: #FFFFFF;
    grid-area: name;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    box-sizing: border-box;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

@media (max-width: 720px) {
    .profile__name {
        padding: 0px 10px 0px 0px;
        max-width: 200px;
        font-size: 27px;
        line-height: 33px;
        text-align: center;

    }
}