.profile__info {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "name button"
        "about .";
    gap: 16px 18px;
    box-sizing: border-box;
}

@media (max-width: 720px) {
    .profile__info {
        max-width: 282px;
        padding: 26px 0px 36px 0px;
        gap: 0px;
        position: relative;
    }
}