.popup__kusto {
    margin: auto;
    width: 430px;
    height: 330px;
    background-color: white;
    text-align: center;
    position: relative;
    border-radius: 10px;

}

@media (max-width: 370px) {
.popup__kusto {
    width: 282px;
    height: 322px;
    
    } 
}