.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    /* or 114% */
    color: #FFFFFF;
    grid-area: name;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    box-sizing: border-box;
    }

@media (max-width: 375px) {
.profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    
} 
}