.popup__close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -35px;
    right: -35px;
    cursor: pointer;
}

@media (max-width: 370px) {
.popup__close {
    width: 20px;
    height: 20px;
    top: -35px;
    right: 0px;
    }
}