.elements__like {
    width: 22px;
    height: 19px;
    cursor: pointer;
    background-image: url(../../../images/like.svg);
    border: none;
}

.elements__like:active {
    background-image: url(../../../images/black-like.svg);
}