.popup__close-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    background-image: url(../../../images/close-icon.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: transparent;
    border: none;
}

@media (max-width: 602px) {
    .popup__close-icon {
        width: 20px;
        height: 20px;
        right: 0px;
    }
}

.popup__close-icon:hover {
    opacity: 0.6;
}