.card__like {
    width: 22px;
    height: 19px;
    cursor: pointer;
    background-image: url(../../../images/like.svg);
    border: none;
    background-color: transparent;
}

.card__like:hover {
    opacity: 0.5;
}