.popup__item {
    display: block;
    margin: 54px auto 30px auto;
    width: 358px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0px 0px 10px 0px;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.popup__item:last-of-type {
    margin: 0px auto 0px auto;
}

.popup__item:focus {
    outline: 0;
}

@media (max-width: 602px) {
    .popup__item {
        margin: 75px auto 30px auto;
        width: 238px;
    }
}