.header {
    max-width: 880px;
    display: flex;
    flex-direction: column;
    row-gap: 41px;
    margin: 0 auto;
    padding: 45px 0px 0px 0px;
    border-bottom: 1px solid rgba(84,84,84,.7);

}

@media (max-width: 720px) {
.header {
    row-gap: 31px;
    padding: 28px 0px 0px 0px;
}
}